@use '@/styles/variables.scss' as var;

.sales {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: 730px) {
      flex-direction: column;
      @include var.adaptive-value-px(row-gap, 10, 20);
    }
  }
  &__img {
    width: calc(50% - 10px);
    object-fit: cover;
    max-height: 720px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    height: fit-content;
    @include var.adaptive-value-px(border-radius, 10, 20);

    @media (max-width: 730px) {
      width: 100%;
    }
  }

  &__right {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 730px) {
      width: 100%;
    }
  }
  & h2 {
    margin-bottom: 10px;
    @extend %lora-600-40-26;
    text-transform: uppercase;
    text-align: center;
  }

  & p {
    line-height: 139%;
    @extend %inter-500-18-16;
    text-align: center;
    max-width: 516px;
    @include var.adaptive-value-px(margin-bottom, 20, 30);
  }

  & button {
    @include var.inter-700-20-18;
    @include var.adaptive-value-px(height, 50, 58);
    @include var.adaptive-value-px(width, 190, 234);
  }
}
