@use '@/styles/variables' as var;

.button {
  background-color: var.$primary-600;
  color: var.$white-100;
  @extend %inter-500-18-16;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  transition:
    background-color 0.15s ease-in-out,
    transform 0.05s ease-in-out;
  @include var.button-active(0.98);
  @include var.adaptive-value-px(height, 44, 48);

  &:hover {
    background-color: var.$primary-700;
  }

  &__full_width {
    width: 100%;
  }

  &__big {
    @include var.adaptive-value-px(height, 46, 52);
  }

  &__extra_big {
    @include var.adaptive-value-px(height, 50, 56);
    @include var.inter-700-20-18;
  }
}

.button:disabled {
  background-color: var.$primary-500;
  cursor: default;
  @include var.button-active(1);
}
