@use '@/styles/variables' as var;

.button {
  background-color: var.$primary-600;
  color: var.$white-100;
  @extend %inter-500-18;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  transition: background-color 0.15s ease-in-out;
  @extend %button-active;
  @include var.adaptive-value-px(height, 44, 48);

  &:hover {
    background-color: var.$primary-700;
  }

  &__full_width {
    width: 100%;
  }

  &__big {
    @include var.adaptive-value-px(height, 52, 46);
  }

  &__extra_big {
    @include var.adaptive-value-px(height, 50, 56);
    @extend %inter-700-20-18;

    &_58 {
      @extend %inter-700-20-18;
      @include var.adaptive-value-rem(height, 50, 58);
      @include var.adaptive-value-rem(width, 190, 234);
    }
  }
}
