@use '@/styles/variables' as var;

.search_mobile {
  position: fixed;
  width: calc(100% - 30px);
  z-index: -1;
  top: 54px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  opacity: 0;

  transition:
    opacity 0.2s ease-in-out,
    top 0.2s ease-in-out;

  &.active {
    top: 74px;
    opacity: 1;
    z-index: 10;
  }

  &_form {
    @extend %inter-400-20;
    background-color: var.$background-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline: 15px;
    border-radius: 5px;
    cursor: text;

    & > div {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }

  & input {
    width: calc(100% - 40px);
  }
}

.close_icon {
  cursor: pointer;
  display: none;

  &.active {
    display: block;
  }
}
