@use '@/styles/variables' as var;
@use '@/styles/reset' as reset;

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  // overflow-x: hidden;
  background: rgb(248, 222, 187);
  &::-webkit-scrollbar {
    display: block;
    width: 5px;
    overflow: auto;
    height: 5px;
    background: rgb(248, 222, 187);
  }

  &::-webkit-scrollbar-thumb {
    background: var.$primary-600;
    border-radius: 30px;
  }
}

body {
  font-weight: 300;
  color: var.$black-100;
  padding: 0px !important;
  @include var.font-family('Inter');
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var.$background-300;
}

main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
  overflow-wrap: break-word;
}

.no-scroll {
  // overflow: hidden;
  // position: fixed;
  height: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  // overflow-y: scroll;
}
.no-scroll-view {
  position: fixed;
  overflow: hidden;
  height: 100%;
  scrollbar-gutter: unset;
}

// swiper
.swiper-button-prev {
  content: url('../../public/arrow-left.svg');
  width: clamp(40px, 5vw, 50px) !important;
  height: clamp(40px, 5vw, 50px) !important;
  -webkit-user-select: none; // для Safari
  -moz-user-select: none; // для Firefox
  -ms-user-select: none; // для IE
  padding: 7px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  background: var.$black-110;

  transition: transform 0.05s ease-in-out;
  @include var.button-active(0.95);

  &:hover {
    background: var.$black-151;
  }
}

.swiper-button-next {
  content: url('../../public/arrow-right.svg');
  width: clamp(40px, 5vw, 50px) !important;
  height: clamp(40px, 5vw, 50px) !important;
  -webkit-user-select: none; // для Safari
  -moz-user-select: none; // для Firefox
  -ms-user-select: none; // для IE
  padding: 7px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  background: var.$black-110;

  transition: transform 0.05s ease-in-out;
  @include var.button-active(0.95);

  &:hover {
    background: var.$black-151;
  }
}

.swiper {
  z-index: 0 !important;
}

.swiper-wrapper {
  z-index: 0 !important;
}

// MUI
.MuiOutlinedInput-root {
  @include var.adaptive-value-px(height, 46, 52);
  @include var.adaptive-value-px(top, 3, 0);
}

.MuiInputBase-multiline {
  height: auto;
}

.MuiCheckbox-root {
  padding: 0px !important;
}

.MuiAccordion-root {
  background-color: inherit !important;
  box-shadow: none !important;
  margin: 0px !important;

  &::after {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    height: 1px;
    content: '';
    background-color: var.$black-150 !important;
    opacity: 1 !important;
  }

  & .MuiButtonBase-root {
    padding-inline: 0px !important;
  }

  & .MuiAccordionDetails-root {
    padding-inline: 0px !important;
  }

  & svg {
    color: var.$black-100 !important;
  }
}
.input.readOnly {
  pointer-events: none; // Отключаем события мыши (кроме onClick на обертке)
}

.input.readOnly .MuiOutlinedInput-root {
  cursor: default; // Ставим обычный курсор
}

.input.readOnly .MuiOutlinedInput-root.Mui-focused {
  border-color: transparent; // Убираем рамку при фокусе
  box-shadow: none; // Убираем тень при фокусе
}

.input.readOnly .MuiInputBase-input {
  caret-color: transparent; // Убираем каретку (курсор)
}

.MuiModal-root {
  z-index: 2020 !important;
}

// Toastify
.Toastify__toast {
  background-color: var.$background-100 !important;
}

.Toastify__toast-container {
  @media (max-width: 480px) {
    width: 100% !important;
  }
}
