@use '@/styles/variables' as var;
@use '@/styles/reset' as reset;

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: block;
    width: 5px;
    overflow: auto;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var.$primary-600;
    border-radius: 30px;
  }
}

body {
  font-weight: 300;
  @include var.font-family('Inter');
  background-color: var.$background-300;
  color: var.$black-100;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
  overflow-wrap: break-word;
}

.no-scroll {
  overflow: hidden;
  // position: fixed;
  height: 100%;
  // overflow-y: scroll;
}

// swiper

.swiper-button-prev {
  content: url('../../public/arrow-left.svg');
  width: clamp(40px, 5vw, 50px) !important;
  height: clamp(40px, 5vw, 50px) !important;
  -webkit-user-select: none; // для Safari
  -moz-user-select: none; // для Firefox
  -ms-user-select: none; // для IE
  padding: 7px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  background: var.$black-110;

  transition: transform 0.05s ease-in-out;
  @include var.button-active(0.95);

  &:hover {
    background: var.$black-151;
  }
}

.swiper-button-next {
  content: url('../../public/arrow-right.svg');
  width: clamp(40px, 5vw, 50px) !important;
  height: clamp(40px, 5vw, 50px) !important;
  -webkit-user-select: none; // для Safari
  -moz-user-select: none; // для Firefox
  -ms-user-select: none; // для IE
  padding: 7px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  background: var.$black-110;

  transition: transform 0.05s ease-in-out;
  @include var.button-active(0.95);

  &:hover {
    background: var.$black-151;
  }
}

.swiper {
  z-index: 0 !important;
}

.swiper-wrapper {
  z-index: 0 !important;
}
