@use 'sass:math';

//// Functions

// To rem
@function rem($px) {
  @return math.div($px, 16) + rem;
}

// To em
@function em($px) {
  @return math.div($px, 16) + em;
}

//// Mixins

// Adaptive value using rem from 390 to 1440
@mixin adaptive-value-rem($property, $min-size, $max-size) {
  $min-size-rem: rem($min-size);
  $max-size-rem: rem($max-size);

  // Calculate the slope (unitless)
  $slope: math.div($max-size - $min-size, $max-width - $min-width);

  // Calculate the y-intercept (unit: px)
  $y-intercept: $min-size - $slope * $min-width;
  & {
    #{$property}: #{$max-size}px; // Явно обернули в `&`
  }
  @media (max-width: #{$max-width}px) {
    #{$property}: clamp(
      #{$min-size-rem},
      calc(#{$slope * 100vw} + #{math.div($y-intercept, 16)}rem),
      #{$max-size-rem}
    );
  }
}

// Adaptive value using px from 390 to 1440
@mixin adaptive-value-px($property, $min-size, $max-size, $max-width-px: 1440) {
  & {
    #{$property}: #{$max-size}px; // Явно обернули в `&`
  }
  @media (max-width: #{$max-width-px}px) {
    #{$property}: calc(
      #{$min-size}px + #{($max-size - $min-size)} *
        ((100vw - #{$min-width}px) / (#{($max-width-px - $min-width)}))
    );
  }
}

// Text ellipsis
@mixin text-ellipsis($lines: 1) {
  & {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    height: calc($lines * 1em);
  }
}

// Font family save usage
@mixin font-family($primary-font) {
  & {
    font-family: #{$primary-font}#{$base-font-stack};
  }
}

@mixin button-active($scale) {
  &:active {
    transform: scale($scale);
  }
}

//// Variables

$max-width: 1440;
$min-width: 390;

$base-font-stack: ', Arial, sans-serif';

$white-100: #ffffff;

$background-300: #f5ece2;
$background-200: #f9f4ee;
$background-100: #fbf8f5;

$black-50: rgba(0, 0, 0, 0.05);
$black-100: rgba(0, 0, 0, 0.1);
$black-150: rgba(0, 0, 0, 0.15);
$black-250: rgba(0, 0, 0, 0.25);
$black-200: #d9d4ce;
$black-300: #b5b5b5;
$black-500: #231e16;

$primary-50: #f9f0e6;
$primary-100: #f8ecde;
$primary-150: #f8e9d6; // Hover
$primary-200: #f7e5ce; // Active
$primary-300: #f7ddbe; // Active
$primary-500: #f5c594; // Disabled
$primary-600: #f1a84d; // Main
$primary-700: #fa9f2f; // Hover

$red-100: #ffd3d3;
$red-200: #fcbebe;
$red-300: #d92c1e;

$green-100: #d4ffca;
$green-200: #acf799;
$green-300: #38aa1c;
$green-400: #3d9627;

$blue-100: #cef4ff;
$blue-200: #d2deff;
$blue-300: #0774cd;

$purple-100: #fcd6ff;
$purple-200: #9803bd;

$yellow-100: #fff41c;

//// Templates

// Center block
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Text templates

%lora-700-50-40 {
  font-weight: 700;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 40, 50);
}
%lora-700-30 {
  font-weight: 700;
  font-size: 30px;
  @include font-family('Lora');
}
%lora-700-30-24 {
  font-weight: 700;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 24, 30);
}
%lora-700-30-22 {
  font-weight: 700;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 22, 30);
}

%lora-700-24 {
  font-weight: 700;
  font-size: 24px;
  @include font-family('Lora');
}
%lora-700-22 {
  font-weight: 700;
  font-size: 22px;
  @include font-family('Lora');
}
%lora-700-18 {
  font-weight: 700;
  font-size: 18px;
  @include font-family('Lora');
}
%lora-700-18-16 {
  font-weight: 700;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 16, 18);
}

%lora-700-16 {
  font-weight: 700;
  font-size: 16px;
  @include font-family('Lora');
}

%lora-600-40-26 {
  font-weight: 600;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 26, 40);
}

%lora-600-32-23 {
  font-weight: 600;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 23, 32);
}
%lora-600-17 {
  font-weight: 600;
  font-size: 17px;
  @include font-family('Lora');
}
%lora-600-16-14 {
  font-weight: 600;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 14, 16);
}
%lora-500-28-22 {
  font-weight: 500;
  @include font-family('Lora');
  @include adaptive-value-px(font-size, 22, 28);
}
%lora-500-17 {
  font-weight: 500;
  font-size: 17px;
  @include font-family('Lora');
}

// Inter

%inter-800-75-38 {
  font-weight: 800;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 38, 75, 2500);
}
%inter-700-90-70 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 70, 90);
}

%inter-700-38-26 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 26, 38);
}
%inter-700-24-20 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 20, 24);
}
%inter-700-22-20 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 20, 22);
}
%inter-700-22-18 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 18, 22);
}
%inter-700-20-18 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 18, 20);
}
@mixin inter-700-20-18 {
  font-weight: 700;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 18, 20);
}
%inter-700-18 {
  font-weight: 700;
  font-size: 20px;
  @include font-family('Inter');
}
%inter-600-30-24 {
  font-weight: 600;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 24, 30);
}

%inter-600-24 {
  font-weight: 600;
  font-size: 24px;
  @include font-family('Inter');
}
%inter-600-24-20 {
  font-weight: 600;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 20, 24);
}
%inter-600-18-16 {
  font-weight: 600;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 16, 18);
}

%inter-600-16 {
  font-weight: 600;
  font-size: 16px;
  @include font-family('Inter');
}
%inter-500-22-14 {
  font-weight: 500;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 14, 20);
}
%inter-500-20 {
  font-weight: 500;
  font-size: 20px;
  @include font-family('Inter');
}
%inter-500-20-18 {
  font-weight: 500;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 18, 20);
}
%inter-500-18 {
  font-weight: 500;
  font-size: 18px;
  @include font-family('Inter');
}
%inter-500-18-16 {
  font-weight: 500;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 16, 18);
}
%inter-500-16 {
  font-weight: 500;
  font-size: 16px;
  @include font-family('Inter');
}
%inter-500-14 {
  font-weight: 500;
  font-size: 14px;
  @include font-family('Inter');
}
%inter-400-20 {
  font-weight: 400;
  font-size: 20px;
  @include font-family('Inter');
}
%inter-400-20-16 {
  font-weight: 400;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 16, 20);
}

%inter-400-18 {
  font-weight: 400;
  font-size: 18px;
  @include font-family('Inter');
}
%inter-400-18-16 {
  font-weight: 400;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 16, 18);
}

%inter-400-16 {
  font-weight: 400;
  font-size: 16px;
  @include font-family('Inter');
}
%inter-400-15 {
  font-weight: 400;
  font-size: 15px;
  @include font-family('Inter');
}
%inter-400-16-14 {
  font-weight: 400;
  @include font-family('Inter');
  @include adaptive-value-px(font-size, 14, 16);
}
%inter-400-14 {
  font-weight: 400;
  font-size: 14px;
  @include font-family('Inter');
}
%inter-400-12 {
  font-weight: 400;
  font-size: 12px;
  @include font-family('Inter');
}

%inter-300-16 {
  font-weight: 300;
  font-size: 16px;
  @include font-family('Inter');
}
