@use '@/styles/variables.scss' as var;

.categories {
  &__container {
    @include var.adaptive-value-px(margin-top, 15, 30);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > p {
      @extend %inter-500-14;
      letter-spacing: 0.05em;

      & a:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: 840px) {
      display: none;
    }
  }
  &__content {
    display: flex;
    @include var.adaptive-value-px(margin-top, 15, 20);
  }

  &__nav {
    position: sticky;
    top: 64px;
    z-index: 1;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var.$background-200;
    border-bottom: 1px solid var.$black-150;
    height: 46px;
    column-gap: 10px;

    @media (min-width: 840px) {
      display: none;
    }
    &_item {
      display: flex;
      align-items: center;
      column-gap: 5px;
      @extend %inter-400-16;
      cursor: pointer;

      & svg {
        width: 20px;
        height: 20px;

        & path {
          stroke: var.$black-500;
        }
      }
    }
  }
}

.aside {
  flex: 0 1 327px;
  min-width: 230px;
  @media (max-width: 840px) {
    display: none;
  }
  @include var.adaptive-value-px(margin-right, 20, 30);
  &__categories,
  &__filter {
    border-bottom: 1px solid var.$black-150;
    padding-block: 15px;
    &:first-child {
      padding-top: 0px;
    }
    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0px;
    }
    & > h1 {
      @extend %inter-700-24-20;
      margin-bottom: 10px;
    }
    & > h2 {
      @extend %inter-700-20-18;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      & > li {
        & > a {
          @extend %inter-400-16;
          line-height: 187%;
          letter-spacing: 0.05em;
          &:hover {
            text-decoration: underline;
          }

          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }

  &__sales {
    color: var.$red-300 !important;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 10px;
    cursor: pointer;

    @media (max-width: 840px) {
      width: 100%;
    }

    &:hover {
      text-decoration: underline;
    }

    & > p {
      @extend %inter-400-16;
      line-height: 187%;
      letter-spacing: 0.05em;
      user-select: none;
    }
  }
}

.list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1038px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 840px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include var.adaptive-value-px(gap, 10, 15);

  & img {
    height: auto !important;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;
  }

  &__no_data {
    position: relative;
    & > span {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    display: flex;
    row-gap: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > h2 {
      white-space: nowrap;
      @extend %inter-600-20-18;
    }
  }
}

.menu_open {
  background-color: var.$background-200;
  position: fixed;
  width: 330px;
  height: 100vh;
  left: -330px;
  top: 0;
  padding: 17px 15px;
  transition: left 0.2s ease-in-out;
  z-index: 2010;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & svg {
    cursor: pointer;
  }

  &.active {
    left: 0;
  }
}

.menu_open_footer {
  background-color: var.$background-200;
  position: fixed;
  width: 100vw;
  bottom: -188px;
  padding: 15px;
  transition: left 0.2s ease-in-out;
  z-index: 2010;

  display: flex;
  flex-direction: column;

  & svg {
    cursor: pointer;
  }
  &.active {
    bottom: 0;
  }
}
