@use '@/styles/variables.scss' as var;

.info {
  &__container {
    display: flex;
    @include var.adaptive-value-rem(margin-top, 20, 30);
  }
}

.aside {
  border-right: 1px solid var.$black-151;
  padding-block: 15px;
  height: fit-content;

  @media (max-width: 800px) {
    display: none;
  }
  @include var.adaptive-value-rem(padding-right, 15, 20);
  @include var.adaptive-value-rem(margin-right, 20, 30);

  & ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    & li {
      & button {
        text-align: start;
        @extend %inter-500-20-18;
        border-radius: 5px;

        transition: background-color 0.1s ease-in-out;
        &.active {
          background-color: var.$primary-300;
        }
        &:hover {
          background-color: var.$primary-200;
        }

        @include var.adaptive-value-rem(padding-left, 10, 15);
        @include var.adaptive-value-rem(height, 45, 50);
        @include var.adaptive-value-rem(width, 250, 335);
      }
    }
  }
}

.content {
  @extend %inter-400-18-16;
  line-height: 167%;

  &__margin_top {
    margin-top: 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &_margin_left {
      margin-left: 20px;

      @media (max-width: 800px) {
        margin-left: 0px;
      }
    }
  }

  ul {
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @media (max-width: 800px) {
      margin-left: 0px;
    }

    li {
      list-style-type: disc;
    }
  }

  &__title {
    @include var.adaptive-value-rem(margin-bottom, 20, 25);
  }

  &__colon {
    @extend %inter-600-18-16;
    line-height: 167%;
    margin-bottom: 10px;
  }

  &__list {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 20px;

    @media (max-width: 800px) {
      margin-left: 0px;
    }

    &_big_gap {
      margin-left: 0px;
      row-gap: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    & > h2 {
      line-height: 120%;
      @extend %inter-700-22-18;
    }

    &_bold_orange {
      font-weight: 600 !important;
      color: var.$primary-600;
    }

    & span {
      font-weight: 600;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    @include var.adaptive-value-rem(margin-top, 30, 50);

    & > a {
      border-radius: 5px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include var.adaptive-value-rem(padding-inline, 20, 30);
    // & > p {
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    // }
    & path {
      fill: var.$white-100;
    }

    &_right {
      margin-left: auto;
    }
    &_arrow_left {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  & a {
    color: var.$primary-600;
  }
}

.content__button p {
  display: inline;
}

.content__button p::after {
  content: 'Політика конфіденційності';
}

@media screen and (max-width: 768px) {
  .content__button p::after {
    content: 'Політика конф.';
  }
}
