@use '@/styles/variables.scss' as var;

.recommend {
  &__container {
    background-color: inherit;
  }
  &__list {
    margin-top: 15px;
    position: relative;

    & figure {
      margin: 2px;
    }
  }

  &__no_padding {
    padding-inline: 0px;
  }
}

.skeleton {
  margin-top: 15px;
  column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; // явно задаем один ряд
  grid-auto-rows: 0; // все последующие ряды будут иметь высоту 0
  overflow: hidden; // скрываем все, что выходит за пределы
  padding-block: 1.5px;
  &__container {
    padding-inline: 0px;
  }
  @media (max-width: 1021px) {
    padding-block: 1px;
    column-gap: 12px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 641px) {
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
