@use '@/styles/variables' as var;

.footer {
  background-color: #853f2f;
  color: var.$white-100;
  @include var.adaptive-value-rem(margin-top, 60, 120);
  &__container {
    @include var.adaptive-value-rem(padding-top, 40, 60);
  }

  &__logo {
    width: 100%;

    @media (max-width: 985px) {
      max-width: 300px;
    }
  }

  &__bottom {
    border-top: 1px solid var.$white-100;
    @include var.adaptive-value-rem(padding-top, 20, 30);
    &_line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @extend %inter-400-16-14;
      max-width: 1440px;
      margin: 0px auto;
      padding: 0px 15px;
      overflow-wrap: break-word;

      @media (max-width: 457px) {
        flex-direction: column;
        row-gap: 10px;
      }
    }

    @include var.adaptive-value-rem(padding-bottom, 40, 60);
  }

  &__main {
    @include var.adaptive-value-rem(padding-bottom, 50, 80);

    &_columns {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include var.adaptive-value-rem(gap, 20, 30);

      @media (max-width: 715px) {
        gap: 40px;
      }

      @media (max-width: 560px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &_column {
      min-width: 207px;
      & h2 {
        @extend %inter-700-22-20;
        @include var.adaptive-value-rem(margin-bottom, 20, 25);
      }

      & ul {
        display: flex;
        flex-direction: column;
        @include var.adaptive-value-rem(row-gap, 14, 18);
      }
      & li {
        @extend %inter-400-16;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      &:last-child {
        max-width: 384px;
        width: 100%;
        @media (max-width: 1411px) {
          max-width: none;
        }
        @media (max-width: 715px) {
          flex: 1 1 200px;
          // max-width: calc(100% - 250px);
        }
      }

      &:first-child {
        max-width: 240px;
        max-height: 170px;
        width: 100%;

        @media (max-width: 985px) {
          max-width: none;
          display: flex;
          align-items: center;
          justify-content: center;
          max-height: none;
          height: 211px;
        }
      }

      & h3 {
        @extend %inter-400-16-14;
        line-height: 140%;
        @include var.adaptive-value-rem(margin-bottom, 16, 24);
      }

      & p {
        @extend %inter-400-12;
        line-height: 125%;
        margin-top: 12px;
      }

      & form {
        display: flex;
        gap: 10px;

        @media (max-width: 715px) {
          flex-direction: column;
        }

        & > input {
          flex: 1 1 auto;
          background-color: inherit;
          border: 1px solid var.$white-100;
          height: 46px;
          color: var.$white-100;
          padding-left: 12px;
          @extend %inter-400-16;

          &::placeholder {
            color: var.$white-100;
          }
        }
        & > button {
          color: #853f2f;
          background-color: var.$white-100;
          height: 46px;
          @extend %inter-400-16;
          min-width: 120px;
          flex: 0 1 145px;
          max-width: 145px;
          @extend %button-active;

          @media (max-width: 715px) {
            max-width: none;
            flex: 1 1 auto;
          }
        }
      }
    }
  }
}
