@use '@/styles/variables' as var;

.dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(204, 204, 204, 0);
  z-index: -1;
  transition: all 0.2s ease-in-out;

  &.active {
    background-color: var.$black-250;
    z-index: 2000;
  }
  &.low {
    background-color: var.$black-250;
    z-index: 100;
  }
}
