@use '@/styles/variables' as var;

.button {
  background-color: var.$primary-600;
  color: var.$white-100;
  @extend %inter-500-16;

  display: flex;
  @include var.adaptive-value-px(column-gap, 6, 8);
  align-items: center;
  justify-content: center;

  height: 42px;
  width: 152px;
  border-radius: 5px;

  transition: background-color 0.15s ease-in-out;
  @extend %button-active;
  &:hover {
    background-color: var.$primary-700;
  }

  @media (max-width: 1100px) {
    display: none;
  }
}
